/* body {
    margin: 0;
    padding: 0;
  }
  .container {
    position: relative;
    width: 100%;
    height: 2000px;
    overflow: hidden;
  }
  .long-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  } */





  /* html, body {
  margin: 0;
  padding: 0;
}
  .image-container {
    width: 100%;
    overflow-y: scroll; 
  }
  
#background1 {
  width: 100vw;
} */







/* body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 2000px;
  overflow: hidden;
}
.long-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.overlay-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
.container-scroll {
  margin-bottom: 400px; /* add margin to push the long image down when the overlay is fixed */
/* }
.container-scroll .overlay-image {
  position: absolute;
  transform: translateY(0); 
}  */

body {
  margin: 0;
  padding: 0;
}
.container {
  /* position: relative;
  width: 100%;
  height: 2000px; */
  overflow: hidden;
}
.long-image {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100vw;
  height: auto;
}
.overlay-image {
  position: fixed;
  top: 100px;
  left:0;
  width: 100%;
  height: auto;
  /* transform: translateY(100%);
  transition: transform 0.5s ease-in-out; */
}
/* .container:hover .overlay-image {
  transform: translateY(0);
} */